.experience-section1 {
    padding: 140px 46px;
}

.experience-section1-main-txt {
    margin-bottom: 65px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 100px;
    line-height: 117%;
    letter-spacing: 0%;
}

.experience-section1-btn {
    background-color: #14A998;
    padding: 16px 32px;
    color: #FFFFFF;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 117%;
    letter-spacing: 0%;
    border-radius: 33.5px;
}

.experience-section2-main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-main-logo {
    width: 120.1px;
    height: 185.6px;
    opacity: 1;
    border-width: 4px;
    position: absolute;
}

.experience-section3 {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
}

.experience-section3-first-img {
    width: 683px;
    height: 658px;
    opacity: 1;
    border-top-right-radius: 350px;
    border-bottom-right-radius: 350px;
}

.experience-section3-heading {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #000000;
    margin-bottom: 30px;
}

.experience-section3-p p {
    margin-bottom: 30px;
}

.experience-section3-p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #000000;
}

.experience-section3-btn {
    width: 176.6px;
    height: 50px;
    opacity: 1;
    border-radius: 25px;
    background-color: #D7C094;
    color: #FFFFFF;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;
    line-height: 117%;
}

.experience-section4 {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.experience-section4-heading {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #000000;
    margin-bottom: 30px;
}

.experience-section4-p p {
    margin-bottom: 30px;
}

.experience-section4-p {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #000000;
}

.experience-section4-img {
    width: 755px;
    height: 678px;
    opacity: 1;
    border-top-left-radius: 350px;
    border-bottom-left-radius: 350px;
}

.experience-section4-btn {
    background-color: #14A998;
    width: 198px;
    height: 50px;
    opacity: 1;
    border-radius: 25px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #FFFFFF;
    border: none;
}

.experience-grid-section {
    padding: 106px 48px;
}

.experience-grid-section-heading {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 80px;
    line-height: 117%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    margin-bottom: 80px;
}

.experience-grid-section-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.experience-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.experience-grid-img1 {
    width: 809px;
    height: 361px;
    opacity: 1;
    border-radius: 50px;
}

.experience-grid-section-heading1 {
    margin-top: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #000000;
}

.experience-grid-p {
    margin-top: 10px;
    color: #000000;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 117%;
    letter-spacing: 0%;
}

.experience-grid-img2 {
    width: 455px;
    height: 361px;
    opacity: 1;
    border-radius: 50px;
}

.experience-grid-section-heading2 {
    margin-top: 24px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #000000;
}

.experience-grid-img3 {
    width: 632px;
    height: 361px;
    opacity: 1;
    border-radius: 50px;
}

.experience-grid-section-heading3 {
    margin-top: 24px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 30px;
    line-height: 117%;
    letter-spacing: 0%;
    color: #000000;
}

